<h1>welcome to wordify - where words always win</h1>
<form action="/translation">
  <div class="form-group">
     <label for="translation">wordify your number!
</label>
     <input id="input_number" name="translation" class="form-control" type="text">
  </div>
  <button id="submit_button" type="submit" class="btn btn-danger">wordify</button>
</form>
